.header img{
    height: 80px;
  }
  .header{
    text-align: center;
  }
  .header nav{
      background-color: black;
      padding: 10px;
  }
  nav a{
      margin: 10px;
      font-size: 20px;
      text-decoration: none;
      color: white;
      padding: 10px;
  }
  nav a:hover{
      background-color: rgb(116, 99, 99);
  }
  nav button{
      background-color: red;
      padding: 8px;
      font-size: 18px;
      border:1px solid rgb(245, 245, 96);
      border-radius: 7px;
      cursor: pointer;
  }